# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

gmaps.configure(api_key=gkey)

import warnings
warnings.simplefilter("ignore")

import time

In [2]:
city_data_df = pd.read_csv("../Resources/city_data.csv")
city_data_df.dropna(inplace = True)
city_data_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date
0,0,Bredasdorp,ZA,-34.5322,20.0403,57.20,94,5,1.14,1612845468
1,1,Cherskiy,RU,68.7500,161.3000,6.89,84,62,7.58,1612845715
2,2,Vaini,TO,-21.2000,-175.2000,80.60,89,75,18.41,1612845716
3,3,Shiyan,CN,32.6475,110.7781,50.00,37,100,1.01,1612845718
4,4,Kikwit,CD,-5.0410,18.8162,71.22,90,100,2.21,1612845720

### Humidity Heatmap

In [3]:
# Store latitude and longitude in a variable
locations = city_data_df[["Latitude","Longitude"]]

# Store Humidity in a variable
humidity = city_data_df["Humidity (%)"]

In [4]:
# Plot heat map using humidity as the weight
fig = gmaps.figure(center=(20,0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=2 )

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [5]:
# Drop all rows that don't meet the conditions.

# Max temp less than 80 but higher than 70
city_ideal_df = city_data_df[city_data_df["Max Temperature (F)"] < 80]
city_ideal_df = city_ideal_df[city_data_df["Max Temperature (F)"] > 70]

# Wind speed less than 10mph
city_idea2_df = city_ideal_df[city_data_df["Wind Speed (mph)"] < 10]

# Zero cloudiness
city_ideal_df = city_ideal_df[city_data_df["Cloud Cover (%)"] == 0]

city_ideal_df

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date
54,54,Bubaque,GW,11.2833,-15.8333,77.49,59,0,16.08,1612845788
64,64,Marsh Harbour,BS,26.5412,-77.0636,74.59,87,0,10.69,1612845802
82,82,Bosaso,SO,11.2842,49.1816,77.00,73,0,14.97,1612845729
86,86,Mount Gambier,AU,-37.8333,140.7667,75.20,35,0,4.61,1612845687
89,89,Dhanbad,IN,23.8000,86.4500,75.52,24,0,2.51,1612845832
157,157,Pochutla,MX,15.7432,-96.4661,75.00,78,0,3.62,1612845918
230,230,El Salvador,SV,13.8333,-88.9167,75.20,88,0,2.30,1612845938
294,294,Harindānga,IN,22.0383,88.3214,73.40,49,0,5.75,1612846092
423,423,Acapulco de Juárez,MX,16.8634,-99.8901,74.82,77,0,4.34,1612846253
437,437,Makkah al Mukarramah,SA,21.4267,39.8261,72.36,38,0,1.03,1612846272
482,482,San Diego de Los Baños,CU,22.6467,-83.3697,70.61,86,0,4.12,1612846330
484,484,Rio Verde de Mato Grosso,BR,-18.9181,-54.8442,72.50,63,0,11.14,1612846332
507,507,Raghunathpur,IN,23.5500,86.6667,75.20,57,0,3.44,1612846359
560,560,Saint-Paul,RE,-21.0096,55.2707,77.00,80,0,1.99,1612846422
569,569,Dédougou,BF,12.4667,-3.4667,71.64,22,0,6.98,1612846432

### Hotel Map

In [6]:
# Add an empty column for hotel name
hotel_df = city_ideal_df
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date,Hotel Name
54,54,Bubaque,GW,11.2833,-15.8333,77.49,59,0,16.08,1612845788,
64,64,Marsh Harbour,BS,26.5412,-77.0636,74.59,87,0,10.69,1612845802,
82,82,Bosaso,SO,11.2842,49.1816,77.00,73,0,14.97,1612845729,
86,86,Mount Gambier,AU,-37.8333,140.7667,75.20,35,0,4.61,1612845687,
89,89,Dhanbad,IN,23.8000,86.4500,75.52,24,0,2.51,1612845832,
157,157,Pochutla,MX,15.7432,-96.4661,75.00,78,0,3.62,1612845918,
230,230,El Salvador,SV,13.8333,-88.9167,75.20,88,0,2.30,1612845938,
294,294,Harindānga,IN,22.0383,88.3214,73.40,49,0,5.75,1612846092,
423,423,Acapulco de Juárez,MX,16.8634,-99.8901,74.82,77,0,4.34,1612846253,
437,437,Makkah al Mukarramah,SA,21.4267,39.8261,72.36,38,0,1.03,1612846272,
482,482,San Diego de Los Baños,CU,22.6467,-83.3697,70.61,86,0,4.12,1612846330,
484,484,Rio Verde de Mato Grosso,BR,-18.9181,-54.8442,72.50,63,0,11.14,1612846332,
507,507,Raghunathpur,IN,23.5500,86.6667,75.20,57,0,3.44,1612846359,
560,560,Saint-Paul,RE,-21.0096,55.2707,77.00,80,0,1.99,1612846422,
569,569,Dédougou,BF,12.4667,-3.4667,71.64,22,0,6.98,1612846432,

In [7]:
# Create a dataframe with just the wanted data
hotel_df = hotel_df.loc[:,["City","Country","Latitude","Longitude", "Hotel Name"]]
hotel_df

                         City Country  Latitude  Longitude Hotel Name
54                    Bubaque      GW   11.2833   -15.8333
64              Marsh Harbour      BS   26.5412   -77.0636
82                     Bosaso      SO   11.2842    49.1816
86              Mount Gambier      AU  -37.8333   140.7667
89                    Dhanbad      IN   23.8000    86.4500
157                  Pochutla      MX   15.7432   -96.4661
230               El Salvador      SV   13.8333   -88.9167
294                Harindānga      IN   22.0383    88.3214
423        Acapulco de Juárez      MX   16.8634   -99.8901
437      Makkah al Mukarramah      SA   21.4267    39.8261
482    San Diego de Los Baños      CU   22.6467   -83.3697
484  Rio Verde de Mato Grosso      BR  -18.9181   -54.8442
507              Raghunathpur      IN   23.5500    86.6667
560                Saint-Paul      RE  -21.0096    55.2707
569                  Dédougou      BF   12.4667    -3.4667

In [8]:
# Define parameters
params = {"key":gkey, "radius":5000, "types":"lodging"}

In [9]:
# Iterate over the rows
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    # add location to the params
    params["location"] = f"{lat},{lng}"
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and json-ify
    response = requests.get(base_url, params=params).json()
    
    # add response to variable
    results = response['results']
        
    # deal with possible missing data
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
        print(f'Closest hotel in {city_name} is {results[0]["name"]}')
    
    except (KeyError, IndexError):
        print(f"Missing data for hotel in {city_name}, skipping.")
        
    time.sleep(1)

Closest hotel in Bubaque is Casa Dora, Bubaque
Closest hotel in Marsh Harbour is Abaco Beach Resort
Closest hotel in Bosaso is Red Sea Hotel
Closest hotel in Mount Gambier is Commodore on the Park
Closest hotel in Dhanbad is Capital O 48963 Gulmohar Marriage Garden Saver
Closest hotel in Pochutla is Hotel Posada San Jose
Closest hotel in El Salvador is Chico's Ranch
Closest hotel in Harindānga is QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TAHFIZUL. QURAN MADRASAH MISSAIN
Closest hotel in Acapulco de Juárez is HS Hotsson Smart Acapulco
Closest hotel in Makkah al Mukarramah is Makkah Clock Royal Tower, A Fairmont Hotel
Closest hotel in San Diego de Los Baños is Casa Nalúa - Nalúa Enea
Closest hotel in Rio Verde de Mato Grosso is Hotel Valência
Closest hotel in Raghunathpur is Joy Chandi Hill Resort
Closest hotel in Saint-Paul is Boucan Canot
Closest hotel in Dédougou is Hôtel Bon Séjour

In [10]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
54,Bubaque,GW,11.2833,-15.8333,"Casa Dora, Bubaque"
64,Marsh Harbour,BS,26.5412,-77.0636,Abaco Beach Resort
82,Bosaso,SO,11.2842,49.1816,Red Sea Hotel
86,Mount Gambier,AU,-37.8333,140.7667,Commodore on the Park
89,Dhanbad,IN,23.8000,86.4500,Capital O 48963 Gulmohar Marriage Garden Saver
157,Pochutla,MX,15.7432,-96.4661,Hotel Posada San Jose
230,El Salvador,SV,13.8333,-88.9167,Chico's Ranch
294,Harindānga,IN,22.0383,88.3214,QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TA...
423,Acapulco de Juárez,MX,16.8634,-99.8901,HS Hotsson Smart Acapulco
437,Makkah al Mukarramah,SA,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
482,San Diego de Los Baños,CU,22.6467,-83.3697,Casa Nalúa - Nalúa Enea
484,Rio Verde de Mato Grosso,BR,-18.9181,-54.8442,Hotel Valência
507,Raghunathpur,IN,23.5500,86.6667,Joy Chandi Hill Resort
560,Saint-Paul,RE,-21.0096,55.2707,Boucan Canot
569,Dédougou,BF,12.4667,-3.4667,Hôtel Bon Séjour

In [11]:
# NOTE: Do not change any of the code in this cell 
#... but had to change "Lat" to "Latitude" and "lng" to "Longitude" because that is how they were labeled in the df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))