# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

gmaps.configure(api_key=gkey)

import warnings
warnings.simplefilter("ignore")

import time

In [2]:
city_data_df = pd.read_csv("../Resources/city_data.csv")
city_data_df.dropna(inplace = True)
city_data_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date
0,0,Funtua,NG,11.5233,7.3081,68.09,22,0,9.26,1612819634
1,1,Port Hedland,AU,-20.3167,118.5667,75.20,83,0,9.22,1612819636
2,2,Dibombari,CM,4.1787,9.6561,80.87,78,90,3.33,1612819637
3,3,Barrow,US,71.2906,-156.7887,-32.80,84,1,9.22,1612819330
4,4,Palmer,US,42.1584,-72.3287,28.00,33,20,3.44,1612819639

### Humidity Heatmap

In [3]:
# Store latitude and longitude in a variable
locations = city_data_df[["Latitude","Longitude"]]

# Store Humidity in a variable
humidity = city_data_df["Humidity (%)"]

In [4]:
# Plot heat map using humidity as the weight
fig = gmaps.figure(center=(20,0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1 )

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [5]:
# Drop all rows that don't meet the conditions.

# Max temp less than 80 but higher than 70
city_ideal_df = city_data_df[city_data_df["Max Temperature (F)"] < 80]
city_ideal_df = city_ideal_df[city_data_df["Max Temperature (F)"] > 70]

# Wind speed less than 10mph
city_idea2_df = city_ideal_df[city_data_df["Wind Speed (mph)"] < 10]

# Zero cloudiness
city_ideal_df = city_ideal_df[city_data_df["Cloud Cover (%)"] == 0]

city_ideal_df

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date
1,1,Port Hedland,AU,-20.3167,118.5667,75.20,83,0,9.22,1612819636
5,5,Saint-Philippe,RE,-21.3585,55.7679,78.80,69,0,6.91,1612819474
93,93,Carnarvon,AU,-24.8667,113.6333,75.20,100,0,12.66,1612819379
109,109,Verāval,IN,20.9000,70.3667,71.33,45,0,7.14,1612819767
142,142,São João da Barra,BR,-21.6403,-41.0511,73.40,88,0,9.22,1612819762
167,167,Rawson,AR,-43.3002,-65.1023,71.64,36,0,23.15,1612819292
170,170,Catalina,US,32.5056,-110.9211,73.99,11,0,1.99,1612819842
175,175,Bariloche,AR,-41.1456,-71.3082,73.99,37,0,4.61,1612819630
185,185,Saint-Louis,SN,16.3333,-15.0000,75.20,33,0,2.30,1612819849
210,210,Pisco,PE,-13.7000,-76.2167,75.20,78,0,11.50,1612819895
215,215,Cidreira,BR,-30.1811,-50.2056,74.77,71,0,12.21,1612819184
251,251,Salalah,OM,17.0151,54.0924,71.60,73,0,3.44,1612819596
259,259,San Julián,MX,21.0167,-102.1667,76.82,17,0,10.67,1612819959
269,269,Siguiri,GN,11.6667,-9.5000,78.57,21,0,2.42,1612819972
431,431,Kandi,BJ,11.1342,2.9386,76.01,17,0,5.84,1612820041
487,487,Kibala,TD,9.1104,18.3463,78.80,21,0,3.33,1612820247
541,541,Porto Belo,BR,-27.1578,-48.5531,77.00,69,0,9.22,1612820313
564,564,Makkah al Mukarramah,SA,21.4267,39.8261,73.29,36,0,3.02,1612820162

### Hotel Map

In [6]:
# Add an empty column for hotel name
hotel_df = city_ideal_df
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (mph),Date,Hotel Name
1,1,Port Hedland,AU,-20.3167,118.5667,75.20,83,0,9.22,1612819636,
5,5,Saint-Philippe,RE,-21.3585,55.7679,78.80,69,0,6.91,1612819474,
93,93,Carnarvon,AU,-24.8667,113.6333,75.20,100,0,12.66,1612819379,
109,109,Verāval,IN,20.9000,70.3667,71.33,45,0,7.14,1612819767,
142,142,São João da Barra,BR,-21.6403,-41.0511,73.40,88,0,9.22,1612819762,
167,167,Rawson,AR,-43.3002,-65.1023,71.64,36,0,23.15,1612819292,
170,170,Catalina,US,32.5056,-110.9211,73.99,11,0,1.99,1612819842,
175,175,Bariloche,AR,-41.1456,-71.3082,73.99,37,0,4.61,1612819630,
185,185,Saint-Louis,SN,16.3333,-15.0000,75.20,33,0,2.30,1612819849,
210,210,Pisco,PE,-13.7000,-76.2167,75.20,78,0,11.50,1612819895,
215,215,Cidreira,BR,-30.1811,-50.2056,74.77,71,0,12.21,1612819184,
251,251,Salalah,OM,17.0151,54.0924,71.60,73,0,3.44,1612819596,
259,259,San Julián,MX,21.0167,-102.1667,76.82,17,0,10.67,1612819959,
269,269,Siguiri,GN,11.6667,-9.5000,78.57,21,0,2.42,1612819972,
431,431,Kandi,BJ,11.1342,2.9386,76.01,17,0,5.84,1612820041,
487,487,Kibala,TD,9.1104,18.3463,78.80,21,0,3.33,1612820247,
541,541,Porto Belo,BR,-27.1578,-48.5531,77.00,69,0,9.22,1612820313,
564,564,Makkah al Mukarramah,SA,21.4267,39.8261,73.29,36,0,3.02,1612820162,

In [7]:
# Create a dataframe with just the wanted data
hotel_chosen_df = hotel_df.loc[:,["City","Country","Latitude","Longitude", "Hotel Name"]]
hotel_chosen_df

                     City Country  Latitude  Longitude Hotel Name
1            Port Hedland      AU  -20.3167   118.5667
5          Saint-Philippe      RE  -21.3585    55.7679
93              Carnarvon      AU  -24.8667   113.6333
109               Verāval      IN   20.9000    70.3667
142     São João da Barra      BR  -21.6403   -41.0511
167                Rawson      AR  -43.3002   -65.1023
170              Catalina      US   32.5056  -110.9211
175             Bariloche      AR  -41.1456   -71.3082
185           Saint-Louis      SN   16.3333   -15.0000
210                 Pisco      PE  -13.7000   -76.2167
215              Cidreira      BR  -30.1811   -50.2056
251               Salalah      OM   17.0151    54.0924
259            San Julián      MX   21.0167  -102.1667
269               Siguiri      GN   11.6667    -9.5000
431                 Kandi      BJ   11.1342     2.9386
487                Kibala      TD    9.1104    18.3463
541            Porto Belo      BR  -27.1578   -48.5531
564  Makkah al Mukarramah      SA   21.4267    39.8261

In [15]:
# Define parameters
params = {"key":gkey, "radius":5000, "types":"lodging"}

In [16]:
# Iterate over the rows
for index, row in hotel_chosen_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    # add location to the params
    params["location"] = f"{lat},{lng}"
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and json-ify
    response = requests.get(base_url, params=params).json()
    
    # add response to variable
    results = response['results']
        
    # deal with possible missing data
    try:
        hotel_chosen_df.loc[index, "Hotel Name"] = results[0]["name"]
        print(f'Closest hotel in {city_name} is {results[0]["name"]}')
    
    except (KeyError, IndexError):
        print(f"Missing data for hotel in {city_name}, skipping.")
        
    time.sleep(1)

Closest hotel in Port Hedland is The Esplanade Hotel
Closest hotel in Saint-Philippe is Chambres d'hôte "La Trinité"
Closest hotel in Carnarvon is Hospitality Carnarvon
Closest hotel in Verāval is Lords Inn Somnath
Closest hotel in São João da Barra is Pousada Porto De Canoas
Closest hotel in Rawson is Hosteria Sampedro
Closest hotel in Catalina is Miraval Arizona Resort & Spa
Closest hotel in Bariloche is Hotel Patagonia
Missing data for hotel in Saint-Louis, skipping.
Closest hotel in Pisco is Hotel San Isidro Oficial
Closest hotel in Cidreira is Hotel Castelo
Closest hotel in Salalah is HAMDAN PLAZA HOTEL SALALAH
Closest hotel in San Julián is La Nueva España
Missing data for hotel in Siguiri, skipping.
Closest hotel in Kandi is Baric Motel De Kandi
Missing data for hotel in Kibala, skipping.
Closest hotel in Porto Belo is Costa Verde Beach Hotel
Closest hotel in Makkah al Mukarramah is Makkah Clock Royal Tower, A Fairmont Hotel

In [17]:
# NOTE: Do not change any of the code in this cell 
#... but had to change "Lat" to "Latitude" and "lng" to "Longitude" because that is how they were labeled in the df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
!<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

hotel_chosen_df

,City,Country,Latitude,Longitude,Hotel Name
1,Port Hedland,AU,-20.3167,118.5667,The Esplanade Hotel
5,Saint-Philippe,RE,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
93,Carnarvon,AU,-24.8667,113.6333,Hospitality Carnarvon
109,Verāval,IN,20.9000,70.3667,Lords Inn Somnath
142,São João da Barra,BR,-21.6403,-41.0511,Pousada Porto De Canoas
167,Rawson,AR,-43.3002,-65.1023,Hosteria Sampedro
170,Catalina,US,32.5056,-110.9211,Miraval Arizona Resort & Spa
175,Bariloche,AR,-41.1456,-71.3082,Hotel Patagonia
185,Saint-Louis,SN,16.3333,-15.0000,Mecca
210,Pisco,PE,-13.7000,-76.2167,Hotel San Isidro Oficial
215,Cidreira,BR,-30.1811,-50.2056,Hotel Castelo
251,Salalah,OM,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
259,San Julián,MX,21.0167,-102.1667,La Nueva España
269,Siguiri,GN,11.6667,-9.5000,Malleande
431,Kandi,BJ,11.1342,2.9386,Baric Motel De Kandi
487,Kibala,TD,9.1104,18.3463,Sarh
541,Porto Belo,BR,-27.1578,-48.5531,Costa Verde Beach Hotel
564,Makkah al Mukarramah,SA,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"

In [12]:
# Add marker layer ontop of heat map


# Display figure